*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-image: url(./img/background.jpg);
    background-position: center;
    color: #eeeeee;
    text-align: center;
    padding: 70px;
}

nav {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}
li {
    display: inline;
    margin: 150px;
}

#cursos h2{
    text-align: center;
}

#html {
    margin-top: 20px;
    width: 100px;
    height: auto;
}

#css {
    width: 100px;
    height: auto;
    margin-left: 100px;
}
#js {
    width: 120px;
    height: auto;
    margin-left: 100px;
}
#tecnologias {
    text-align: center;
    margin: 20px;
}