*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-image: url(./img/background.jpg);
    background-position: center;
    text-align: center;
    color: #eeeeee;
    padding: 30px 0px 155px 0px;
}
#perfil {
    border-radius: 80px;
    position: absolute;
    bottom: 57%;
    left: 44%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.562);    
}

nav {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}
li {
    display: inline;
    margin: 150px;
}

#cursos h2{
    text-align: center;
}

#html {
    margin-top: 20px;
    width: 100px;
    height: auto;
}

#css {
    width: 100px;
    height: auto;
    margin-left: 100px;
}
#js {
    width: 120px;
    height: auto;
    margin-left: 100px;
}
#tecnologias {
    text-align: center;
    margin: 20px;
}